.captionPortfolio {
  font-family: 'Kalam';
  margin-left: 50px;
  font-size: 55px;
  padding-left: 12px;
  border-left: 5px rgb(0, 0, 0) solid;
}

.mainCamera {
  margin: 0 auto;
  align-items: center;
  display: flex;
}

.cameraSlider {
  margin: 0 auto;
  z-index: 2;
}
