@media (max-width: 1440px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 425px;
  }

  .headerImgLogo,
  .underLogoLink {
    display: none;
  }
  .camera {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    max-width: 375px;
  }
}

@media (max-width: 375px) {
  .wrapper {
    max-width: 320px;
    margin: 50px auto;
  }
}
