header {
  padding: 40px;
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

/* img {
  margin-right: 5px;
  user-select: none;
} */

.headerLeft {
  display: flex;
  align-items: center;
  user-select: none;
}
